label {
  display: block;
}

fieldset {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
}

textarea {
  width: 100%;
}

select:invalid,
input:invalid {
  border: 2px dashed red;
}

select:valid,
input:valid {
  border: 2px solid green;
}

.error {
  color: red;
}
