.cart-container {
    padding-left: 25px;
    padding-right: 25px;
}

.cart-header {
    padding-top: 20px;
}

.cart-header .cart-btn {
    margin-top: 5px !important;
    margin-right: -5px !important;
}

.cart-btn-row {
    height: 30px;
}

.cart-title {
    color: #274686;
    font-size: 26px;
    font-weight: 800;
    margin-right: 35px;
}

.cart-container .primary-btn {
    float: right;
}
